<html>
	<head>
		<title>Cursed Stones</title>
		<link rel="stylesheet/less" type="text/css" href="static/css/style.less">
		<script src="static/js/less.js"></script>
	</head>
	
	<body>
			
		<header>
	
		<a href=""></a>
		<a href="" id="logo">Cursed Stones</a>
		<nav></nav>
			
		</header>


		<div class="container">
			<div class="status">
				<div>Mana Self <span id="mana_self">0</span></div>
				<div>Tour n°<span id="tourNum"></span> de <span id="tourWho"></span></div>
				<div>Mana Adv <span id="mana_adv">0</span></div>
			</div>
			<div class="cards adv">
			</div>
			<div id="board">
				
			</div>
			
			<div class="cards self">
				
			</div>

			<div id="message">
				<span>C'est a votre tour</span>
				<p>Vous pouvez jouer votre meilleurs carte ! Sauf si vous la gardez pour plus tard biensur</p>
			</div>



		</div>
		<div id="contextMenu"></div>

	
	<script src="socket.io/socket.io.js"></script>
	<script src="static/js/utils.js"></script>
	<script src="static/js/contextMenu.js"></script>
	<script src="static/js/entity.js"></script>
	<script src="static/js/board.js"></script>
	<script src="static/js/cards.js"></script>
	<script src="static/js/game.js"></script>
	<script src="static/js/sockets.js"></script>
	<script src="static/js/socketServer.js"></script>

	</body>
		
</html>