<html>
	<head>
		<title>Cursed Stones</title>
		<link rel="stylesheet/less" type="text/css" href="static/css/style.less">
		<script src="static/js/less.js"></script>
	</head>
	
	<body>
			
		<header>
	
		<a href=""></a>
		<a href="" id="logo">Cursed Stones</a>
		<nav></nav>
			
		</header>


		<div class="container">

			<div id="board">
				
			</div>
			
			<div class="cards self">
				
				

			</div>

		</div>
	
	<script src="static/js/board.js"></script>
	<script src="static/js/cards.js"></script>

	</body>
		
</html>