<!DOCTYPE html>
<html>
<head>
	<title>Cursed stones</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>

<div class="container">

	<header>
		<h1>CrusedStones</h1>
	</header>
	
</div>



</body>
</html>