<!DOCTYPE html>
<html>
<head>
	<title>Cursed stones</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>

<div id="loading">
	<h1>LOADING</h1>
</div>

<nav id="nav">
	<ul>
		<li onclick="index.showIndex()">Home</li>
		<li>A propos</li>
		<li>Classement</li>
		<li>Contact</li>
	</ul>
	<div class="clear"></div>
</nav>

<section id="index">

	<header>
		<h1>CursedStones</h1>
	</header>

	<div id="connected">
		<div class="command">
			<button class="full" onclick="window.open('/game');">Play</button>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="not_connected">
		<div class="command">
			<button onclick="index.showLogin()">S'authentifier</button>
			<button onclick="index.showRegister()">S'enregistrer</button>
			<div class="clear"></div>
		</div>
	</div>

	<div id="login">
		<div class="command">
			<form onsubmit="return index.login();">
				<input type="text" required name="user_name" placeholder="Pseudo" id="user_name_login">
				<input type="password" required name="password" placeholder="Mot de passe" id="password_login">
				<button class="full">S'authentifier</button>
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<div id="register">
		<div class="command">
			<form onsubmit="return index.register();">
				<input class="full" required type="text" name="user_name" placeholder="Pseudo" id="user_name_register">
				<input type="password" required name="password" placeholder="Mot de passe" id="password_register">
				<input type="password" required name="password" placeholder="Confirmer le mot de passe" id="password_confirm_register">
				<button class="full">S'enregistrer</button>
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<footer>
		<a href="">© 2017 Polytech APP3 Info</a>
	</footer>
</section>

<script src="socket.io/socket.io.js"></script>
<script src="static/js/utils.js"></script>
<script src="static/js/contextMenu.js"></script>
<script src="static/js/entity.js"></script>
<script src="static/js/board.js"></script>
<script src="static/js/cards.js"></script>
<script src="static/js/game.js"></script>
<script src="static/js/sockets.js"></script>
<script src="static/js/socketServer.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"/></script>
<script type="text/javascript" src="/static/js/index.js"/></script>

<script type="text/javascript">
	var index = new Index(document);
	index.showIndex();
</script>




</body>
</html>