<!DOCTYPE html>
<html>
<head>
	<title>Cursed stones</title>
	<link rel="stylesheet/less" type="text/css" href="static/css/style.less">
	<link rel="stylesheet" href="static/css/vanilla-notification.css">
	<script src="static/js/less.js"></script>
	<script src="static/js/vanilla-notification.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" >
</head>
<body>

<div id="loading">
	<h1>Chargement</h1>
</div>

<div id="loadingplayer">
	<h1>Recherche de joueur</h1>
</div>

<nav id="nav">
	<ul>
		<li onclick="index.showIndex()">Accueil</li>
		<li onclick="index.showInstructions()">Instructions</li>
		<li onclick="index.classement()">Classement</li>
		<li onclick="window.location.href='mailto:contact@cursedstones.rlm.pw'">Contact</li>
	</ul>
	<div class="clear"></div>
</nav>

<div id="create_deck">
		<div class="command">
			<form onsubmit="return index.submitDeck();">
				<input type="text" required name="deck_name" placeholder="Nom de deck" id="deck_name">
				<button>Ajouter</button>
			</form>

		</div>
		<div class="clear"></div>
		<div class="card_counter_container">
			<span id="card_counter">0</span> cartes ajoutées
		</div>
		<div class="cartes" id="cartes">
		</div>
		<div class="clear"></div>
</div>

<section id="index">

	<header>
		<h1>CursedStones</h1>
	</header>

	<div id="classement">
		<table id="classementTable">
			<tr>
				<th>Rang</th>
				<th>Pseudo</th>
				<th>Points</th>
			</tr>
		</table>
	</div>

	<div id="instructions">
	<p>
		Le jeu cursed stones est un jeu de carte “plateau” en ligne massivement multijoueur. Le thème du jeu se base dans un monde fantastique. Le but du jeu est d’amasser toutes les cartes et de monter top 1 au classement mondial.
		<br>
		Le plateau se compose en trois parties : son camp (en bleu), le camp adverse (en rouge), et le milieu neutre. Dans chaque camp se trouve un château. L’objectif du jeu est de détruire le château de l’autre. Pour cela, il utilisera des cartes qui prendront vie sur le plateau (personnages, sorts, …). Le premier joueur à détruire le château adverse gagne.
	</p>
	
	<img src="/static/img/instructions/1.png">

	<p>
	Chaque chacun de leur tours les joueurs recevront un cristaux de mana en plus qui leur permettront de poser des cartes en fonction de leur coût.
	</p>

	<img src="/static/img/instructions/2.png">

	<p>
		Ici kevin a le droit de poser une carte qui a une valeur de 1 de mana. Si il avait eu 2 de mana il aurait pu poser 2 cartes de 1 de mana ou 1 carte de 2 de mana.
	</p>
	<br>
	<p>
		Une carte est composée de diverses informations :
		<br>-   Coût de la carte pour la poser sur le plateau
		<br>-   Points d’attaque de la carte sur le plateau
		<br>-   Points de déplacement de la carte sur le plateau
		<br>-   Points de défense sur le plateau
		<br>-   La portée de l’attaque de la carte
	</p>

	</div>

	<div id="connected">
		<div class="command">
			<button class="full" onclick="index.play();">Jouer</button>
			<button class="full" onclick="index.createDeck();">Création de Decks</button>
			<button class="full" onclick="index.logout();">Déconnexion</button>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="not_connected">
		<div class="command">
			<button onclick="index.showLogin()">S'authentifier</button>
			<button onclick="index.showRegister()">S'enregistrer</button>
			<div class="clear"></div>
		</div>
	</div>

	<div id="login">
		<div class="command">
			<form onsubmit="return index.login();">
				<input type="text" required name="user_name" placeholder="Pseudo" id="user_name_login">
				<input type="password" required name="password" placeholder="Mot de passe" id="password_login">
				<button class="full">S'authentifier</button>
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<div id="register">
		<div class="command">
			<form onsubmit="return index.register();">
				<input class="full" required type="text" name="user_name" placeholder="Pseudo" id="user_name_register">
				<input type="password" required name="password" placeholder="Mot de passe" id="password_register">
				<input type="password" required name="password" placeholder="Confirmer le mot de passe" id="password_confirm_register">
				<button class="full">S'enregistrer</button>
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<footer>
		<a href="">© 2017 Polytech APP3 Info</a>
	</footer>
</section>

<section id="select_deck">
	<div class="packet" id="decks">
		<button onclick="index.play();">Deck 1</button>
		<button onclick="index.showCreateDeck();">Deck 2</button>
		<button onclick="index.logout();">Default deck</button>
		<div class="clear"></div>
	</div>
</section>

<section id="game">

		<div class="container">
			<div class="status">
				<div>Mana <span id="mana_user_left"></span> <span id="mana_left"></span></div>
				<div style="height: 50px">
					<div>Tour n°<span id="tourNum"></span> de <span id="tourWho"></span>  </div>
					<span class="btn" id="finTour" data-disabled="1">Fin tour</span>
				</div>
				<div>Mana <span id="mana_user_right"></span> <span id="mana_right"></span></div>
			</div>
			<div class="cards adv">
			</div>

			<div id="board">
				
			</div>

			<div class="cards_container">
				<div class="cards self"></div>
				<div class="clear"></div>
			</div>

			<div id="message">
				<span>C'est a votre tour</span>
				<p>Vous pouvez jouer votre meilleurs carte ! Sauf si vous la gardez pour plus tard biensur</p>

				<button class="btn" id="btn-action"></button>
			</div>

		</div>
		<div id="contextMenu"></div>
</section>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"/></script>
<script type="text/javascript" src="/static/js/index.js"/></script>


<script src="socket.io/socket.io.js"></script>
<script src="static/js/utils.js"></script>
<script src="static/js/contextMenu.js"></script>
<script src="static/js/entity.js"></script>
<script src="static/js/board.js"></script>
<script src="static/js/cards.js"></script>
<script src="static/js/game.js"></script>
<script src="static/js/socketServer.js"></script>

<script type="text/javascript">
	var sio = null;

	var index = new Index(document);
	index.showIndex();
</script>

</body>
</html>