<!DOCTYPE html>
<html>
<head>
	<title>Cursed stones</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>



<nav>
	<ul>
		<li>Home</li>
		<li>A propos</li>
		<li>Classement</li>
		<li>Contact</li>
	</ul>
	<div class="clear"></div>
</nav>

<section id="home">

	<header>
		<h1>CursedStones</h1>
	</header>

	<div class="command">
		<button class="full">Play</button>
	</div>
	<div class="clear"></div>

	<footer>
		<a href="">© 2017 Polytech APP3 Info</a>
	</footer>
</section>

<section id="login">

	<header>
		<h1>CursedStones</h1>
	</header>

	<div class="command">
		<form>
			<input type="text" name="user_name" placeholder="Username" id="user_name">
			<input type="password" name="password" placeholder="Password" id="password">
			<button class="full">S'authentifier</button>
		</form>
	</div>
	<div class="clear"></div>

	<footer>
		<a href="">© 2017 Polytech APP3 Info</a>
	</footer>
</section>

<section id="register">

	<header>
		<h1>CursedStones</h1>
	</header>

	<div class="command">
		<form>
			<input type="text" name="user_name" placeholder="Username" id="user_name">
			<input type="password" name="password" placeholder="Password" id="password">
			<button class="full">S'authentifier</button>
		</form>
	</div>
	<div class="clear"></div>

	<footer>
		<a href="">© 2017 Polytech APP3 Info</a>
	</footer>
</section>

</body>
</html>