@font-face {
    font-family: BATMAN;
    src: url(../font/BATMAN.TTF);
}

@font-face {
    font-family: TURTLES;
    src: url(../font/Turtles.otf);
}

@font-face {
    font-family: RIOGRANDE;
    src: url(../font/RioGrande.ttf);
}

@font-face {
    font-family: COWBOYS;
    src: url(../font/Cowboys.ttf);
}

@font-face {
    font-family: WHALE;
    src: url(../font/whale.ttf);
}

@keyframes bodyFrames {
    0%   {background-color: #14253C}
    50%  {background-color: #101b2b}
    100% {background-color: #14253C}
}

body
{
	background-color: #14253C;
	margin: 0;

	animation-name: bodyFrames;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	overflow-y: auto !important;
}

@keyframes logoFrames {
    0%   {opacity: 1; transform: rotateZ(0deg);}
    25%  {opacity: 0.8; transform: rotateZ(5deg);}
    50%  {opacity: 1; transform: rotateZ(0deg);}
    75%  {opacity: 0.8; transform: rotateZ(-5deg);}
    100% {opacity: 1; transform: rotateZ(0deg);}
}

header
{
	margin-top: 100px
}

header h1
{	
	position: relative;
		top: 0;
	font-size: 108px;
	letter-spacing: 0px;
	text-align: center;
	margin: 0px;
	color: #ececec;
	font-family: COWBOYS;

	animation-name: logoFrames;
    animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.command
{
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes buttonFrames {
    0%   {left: 0;}
    25%  {left: 2px;}
    50%  {left: 0;}
    75%  {left: -2px;}
    100% {left: 0;}
}

.command button
{
	position: relative;

	width: 250px;
	height: 50px;
	margin: 20px;
	float: left;
	display: block;

	outline: none;

	background-color: white;
	border: 0px;
	border-bottom: 5px solid #b9b9b9;

	font-size: 16px; 
	font-family: "Helvetica Neue";
	cursor: pointer;

	transition: all 0.2s;

	animation-name: buttonFrames;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.command input
{
	position: relative;

	width: 250px;
	height: 50px;
	margin: 20px;
	float: left;
	display: block;

	outline: none;

	background-color: white;
	border: 0px;

	font-size: 16px; 
	font-family: "Helvetica Neue";

	transition: all 0.2s;

	animation-name: buttonFrames;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	box-sizing:border-box; 
	padding: 10px;
}

.command button:hover
{
	background-color: #f3f3f3;
}

.command button:active
{
	border-bottom: 5px solid white;
}

.command .full
{
	width: 540px;
}

nav
{
	width: 100%px;
}

nav ul
{
	height: 40px;
	margin-right: 50px;
	float: right;
	cursor: pointer;
}

nav ul li
{
	float: left;
	list-style: none;
	padding: 10px;
	color: white;
	font-family: "Helvetica Neue";
	transition: opacity 0.2s;
}

nav ul li:hover
{
	opacity: 0.8;
}

nav ul li:active
{
	opacity: 0.6;
}

.clear
{
	clear: both;
}

section
{
	width: 100%;
	min-height: 100%;
}

section footer
{
	position: absolute;
		bottom: 0;

	width: 100%;
}

section footer a
{
	color: white;
	text-decoration: none;
	font-family: "Helvetica Neue";

	display: block;
    text-align: center;
    margin-bottom: 10px;
}

#connected, #not_connected, #login, #register, #nav, #index
{
	display: none;
}

#loading
{
	position: absolute;
		left: 0;
		top: 0;
	width: 100%;
	height: 100%;
	background-color: #14253C;
	display: block;
}

#loading h1
{

	font-size: 50px;
	letter-spacing: 0px;
	text-align: center;
	margin: 0px;
	margin-top: 300px;
	color: #ececec;
	font-family: COWBOYS;

	animation-name: loadingFrames;
    animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes loadingFrames {
    0%   {opacity: 1; transform: rotateZ(0deg);}
    25%  {opacity: 0.8; transform: rotateZ(30deg);}
   	50%  {opacity: 1; transform: rotateZ(0deg);}
    75%  {opacity: 0.8; transform: rotateZ(-30deg);}
    100%  {opacity: 1; transform: rotateZ(0deg);}
}

#game
{
	display: none;
}

#classement table{
	width: 580px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.packet
{
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

.packet button
{
	position: relative;

	width: 250px;
	margin: 20px;
	float: left;
	display: block;

	padding-top: 80px;
	padding-bottom: 80px;

	outline: none;

	background-color: white;
	border: 0px;
	border-bottom: 5px solid #b9b9b9;

	font-size: 16px; 
	font-family: "Helvetica Neue";
	cursor: pointer;

	transition: all 0.2s;

	animation-name: buttonFrames;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.packet input
{
	position: relative;

	width: 250px;
	height: 50px;
	margin: 20px;
	float: left;
	display: block;

	outline: none;

	background-color: white;
	border: 0px;

	font-size: 16px; 
	font-family: "Helvetica Neue";

	transition: all 0.2s;

	animation-name: buttonFrames;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	box-sizing:border-box; 
	padding: 10px;
}

.packet button:hover
{
	background-color: #f3f3f3;
}

.packet button:active
{
	border-bottom: 5px solid white;
}

#create_deck, #select_deck
{
	display: none;
}

.cartes
{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.cartes button:hover
{
	background-color: #f3f3f3;
}

.cartes button:active
{
	border-bottom: 5px solid white;
}

.cartes .carte
{
	position: relative;

	width: 150px;
	margin: 20px;
	float: left;

	padding: 20px;

	outline: none;

	background-color: white;
	border: 0px;
	border-bottom: 5px solid #b9b9b9;

	font-size: 16px; 
	font-family: "Helvetica Neue";
	cursor: pointer;

	transition: all 0.2s;

	animation-name: buttonFrames;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.cartes .carte h3
{
	text-align: center;
}

.cartes .carte img
{
	width: 100px;
	display: block;
	margin: 5px;
	margin-right: auto;
	margin-left: auto;
}



.cartes p
{
	padding-top: 5px;
	padding-bottom: 5px;
	
	width: 110px;
	display: block;
	text-align: center;
	font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
}

.cartes .groupe p
{
	float: left;
	width: 55px;
}

.cartes .carte .number{
	position: absolute;
		right: 0;
		top: 0;
	border-radius: 0px 100%;
    border-left: 1px solid #b5b5b5;
    padding: 0px 8px 7px 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



::-moz-scrollbar {
    width: 20px;
}
 
::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-moz-scrollbar-thumb {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}