*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	display: flex;
	
	justify-content: space-around;
	
	#logo{
		font-size: 3em;
		text-decoration: none;
	}
	
}
body{
	height: 100%;
	overflow: hidden;
}

.container{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

#board{
	perspective: 50em;
	table{
		border-top: 1px solid black;
		margin: 0 auto;
	    transform: rotateX(50deg) translateY(-120px) translateZ(60px);
		tr{
			td {
				border: 1px solid black;
				width: 80px;
				height: 80px;
				
				&.self{
					background: rgba(0, 0, 255, 0.1);
				}
				&.enemie{
					background: rgba(255, 0, 0, 0.1);
				}

				&:hover{
					background: rgba(255, 0, 255, 0.1);	
				}
				img{
					max-width: 80px;
					max-height: 80px;
				}

			}
			
		}
	
	}

	.card.placing{
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -50px;
		animation-name: placingcard;
   		animation-duration: 2s;
   		tranform-origin: 50% 50%;
	}
	
}

.card{
		width: 100px;
		height: 170px;
		border: 1px solid black;
		border-radius: 20px;
		transition: .25s ease-in-out;
		position: absolute;
		bottom: 0;
		background: gray;
		// bottom: -100px;
		
		
	}

.cards{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	display: flex;
	margin: 0 auto;

	.card {
		&.selected{

		}
		&.comming{
			animation-name: commingcardsfrompioche;
	   		animation-duration: 2s;
	   		tranform-origin: 50% 50%;
		}

		&:hover{
			width: 150px;
			height: 255px;
			background: blue;
		 	bottom: 100px;
		 	tranform: translateY(100px);
		 	z-index: 2;
		}
	}
	
}

@keyframes placingcard {
	0% {
		transform: scale(1);
	}
	50%{
		transform: scale(1.5);	
	}
	100%{
		transform: scale(0);	
	}	
} 
@keyframes commingcardsfrompioche {
	0% {
		transform: translateY(-200px) translateX(60vw);
	}
	70% {
		transform: translateY(-200px) translateX(0vw);
	}
	100% {
		transform: translateY(00px) translateX(0vw);
	}
}


