@caseSize: 4vw;

*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	display: flex;
	
	justify-content: space-around;
	
	#logo{
		font-size: 3em;
		text-decoration: none;
	}
	
}
body{
	height: 100%;
	overflow: hidden;
}

.container{
	width: 80%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.status{
	display: flex;
	justify-content: space-around;
}

#board{
	//perspective: 70em;
	table{
		border-top: 1px solid black;
		margin: 0 auto;
	    //transform: rotateX(50deg) translateY(-30%) translateZ(60px); //DANS LE JS NOW
	    tr{
	    	td {
	    		position: relative;
	    		border: 1px solid black;
	    		width: @caseSize;
	    		height: @caseSize;
	    		min-width: 2vw;
	    		min-height: 2vw;
	    		max-width: @caseSize;
	    		max-height: @caseSize;

	    		&.self{
	    			background: rgba(0, 0, 255, 0.1);
	    		}
	    		&.enemie{
	    			background: rgba(255, 0, 0, 0.1);
	    		}

	    		&:hover{
	    			background: rgba(255, 0, 255, 0.1);	
	    		}


	    	}

	    }

	}

	.card.placing{
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -50px;
		animation-name: placingcard;
		animation-duration: 2s;
		tranform-origin: 50% 50%;
	}
	
}

.card{
	width: 100px;
	height: 170px;
	border: 1px solid black;
	border-radius: 20px;
	transition: .25s ease-in-out;
	position: absolute;
	bottom: 0;
	background: #dbdbdb;
	text-align: center;
		// bottom: -100px;
		
		
	}

	.cards{
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		display: flex;
		margin: 0 auto;

		.card {
			&.selected{

			}
			&.comming{
				animation-name: commingcardsfrompioche;
				animation-duration: 2s;
				tranform-origin: 50% 50%;
			}

			&:hover{
				width: 150px;
				height: 255px;
				background: #5889ff;
				bottom: 100px;
				tranform: translateY(100px);
				z-index: 2;
			}
			img{
				max-width: 30px;
				max-height: 30px;
			}
		}

	}

	.entity{
		position: relative;
		width: 100%;
		height: 100%;
		&.self{
			background: rgba(0, 0, 255, 0.1);
		}
		&.enemie{
			background: rgba(255, 0, 0, 0.1);
		}
		&[data-selected="1"] .entityimg{
			animation-name: entitySelected;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-duration: 2s;
			border-bottom: 4px solid red;
		}
		.shield{
			position: absolute;
			top: 1px;
			right: 1px;
			width: 16px;
			height: 16px;

		}
		.entityimg{
			position: relative;
			width: 75%;
			height: 75%;
		}

	.status{
		display: none;
		position: absolute;
		top: -80px;
		left: -4px;
		padding: 5px;
		height: 70px;
		width: 40px;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.5);

		.name{
			text-align: center;
		}

		.icon{
			display: block;
			&:before{
				width: 16px;
				height: 16px;
				margin-right: 5px;
			}
			&.life:before{
				content: '❤';
				color: red;
			}
			&.attack:before{
				content: '⚔';
				color: black;

			}
			&.defense:before{
				content: '🛡'; //Best bouclier ever
				color: blue;

			}

		}
	}
	&:hover .status{
		display: block;
	}
}

@keyframes placingcard {
	0% {
		transform: scale(1);
	}
	50%{
		transform: scale(1.5);	
	}
	100%{
		transform: scale(0);	
	}	
} 
@keyframes commingcardsfrompioche {
	0% {
		transform: translateY(-200px) translateX(60vw);
	}
	70% {
		transform: translateY(-200px) translateX(0vw);
	}
	100% {
		transform: translateY(00px) translateX(0vw);
	}
}

@keyframes entitySelected {
	0%{
		transform: scale(1.0);
	}
	50%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1.0);
	}
}

#message{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 15%;
	left: 10%;
	right: 10%;
	width: 80%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5%;
	border: 1px solid rgba(100, 100, 100, 0.5);
	transition: .25s ease-in-out;

	&.show{
		visibility: visible;
		opacity: 1;
	}

	span{
		font-size: 5em;
	}
	p{
		font-size: 2em;
		color: #999999;
	}
	#btn-action{
		display: none;
		margin: 0 auto;
		text-align: center;

	}
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&.move{
		background-color: rgba(0,100,0, 0.2);
	}
	&.attack{
		background-color: rgba(244, 164, 66, 0.2);
	}
}

.btn{
	display: inline-block;
	padding: 5px;
	background: #538eff;
	color: white;
	cursor: pointer;
	&:hover{
		box-shadow: 5px 5px 10px #656565;;
	}

	&[data-disabled="1"]{
		//background: #c6c3cf;
		display: none;
	}
}

#contextMenu{
	display: none;
	position: absolute;
	justify-content: flex-start;
	flex-direction: column;
	background: #eaeaea;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #d6d6d6;

	span{
		min-width: 100px;
		cursor: pointer;
		&:hover{
			background-color: #b2b2b2;
		}
	}

}